
@model IEnumerable<Common.ViewModels.BaoCaoPhieuChiViewModel>
<br />
<table class="table table-bordered table-middle table-lilac">
    <thead>
        <tr>
           
            <th class="text-center">
                @Html.DisplayName("Ngày chi")
            </th>
            <th class="text-center">
                @Html.DisplayName("Số lượng phiếu chi")
            </th>
            <th class="text-center">
                @Html.DisplayName("Tổng tiền")
            </th>
            
          
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
        <tr style="text-align:center" class="border-warning">
           
            <td>@item.ngayChi</td>
            <td>@item.soPhieuChi</td>
            <td>@item.tongTien</td>
            
        </tr>
        }
    </tbody>
</table>
<script src="~/Scripts/bootstrap.min.js"></script>